<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - SignUp</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="form-signup">
                <span>Crie sua conta no DevBook!</span>
                <div>
                    <input type="text" name="name" placeholder="Digite seu Nome" id="name" required>
                </div>
                <div>
                    <input type="text" name="nick" placeholder="Digite seu Nick" id="nick" required>
                </div>
                <div>
                    <input type="text" name="email" placeholder="Digite seu E-mail" id="email" required>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Digite sua senha" id="password" required>
                </div>
                <div>
                    <input type="password" name="password-confirmation" placeholder="Repita a senha digitada" id="password-confirmation" required>
                </div>
                <a href="/login">Clique aqui para fazer login</a>
                <button type="submit" class="btn-devbook">Cadastrar</button>
            </form>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/signup.js"></script>
</body>
</html>